.App {
  font-family: sans-serif;
  text-align: center;
}
.div {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 0 2px blue;
}
p {
  padding: 10px;
  box-shadow: 0 0 0 2px lime;
}
.count {
  text-align: right;
  color: orange;
  float: right;
  padding: 0 10px;
}
.violation {
  box-shadow: 0 0 0 2px red;
  color: red;
}
.violation .count {
  background-color: red;
  color: white;
}
